#SQL

In [0]:
%sql
drop table employees;
drop table departments;
drop table jobs;
drop table job_history;

In [0]:

%sql
-- Create the Employees table
CREATE TABLE Employees
 (
    employee_id INT PRIMARY KEY,
    first_name VARCHAR(255),
    last_name VARCHAR(255),
    email VARCHAR(255),
    phone_number VARCHAR(20),
    hire_date DATE,
    job_id VARCHAR(10),
    salary DECIMAL(10, 2),
    department_id INT
);

-- Create the Departments table
CREATE TABLE Departments (
    department_id INT PRIMARY KEY,
    department_name VARCHAR(100),
    location VARCHAR(100),
    manager_id INT
);

-- Create the Jobs table
CREATE TABLE Jobs (
    job_id VARCHAR(10) PRIMARY KEY,
    job_title VARCHAR(255),
    min_salary DECIMAL(10, 2),
    max_salary DECIMAL(10, 2)
);

-- Create the Job_History table
CREATE TABLE Job_History (
    employee_id INT,
    start_date DATE,
    end_date DATE,
    job_id VARCHAR(10),
    department_id INT,
    PRIMARY KEY (employee_id, start_date), -- Composite primary key
    FOREIGN KEY (employee_id) REFERENCES Employees(employee_id),
    FOREIGN KEY (job_id) REFERENCES Jobs(job_id), -- Added FK for new table
    FOREIGN KEY (department_id) REFERENCES Departments(department_id)
);

In [0]:
%sql
INSERT INTO Employees (employee_id, first_name, last_name, email, phone_number, hire_date, job_id, salary, department_id)
VALUES
(101, 'John', 'Doe', 'john.doe@example.com', '123-456-7890', '2020-01-15', 'DEV01', 75000.00, 10),
(102, 'Jane', 'Smith', 'jane.smith@example.com', '234-567-8901', '2019-03-22', 'HR01', 68000.00, 20),
(103, 'Robert', 'Brown', 'robert.brown@example.com', '345-678-9012', '2018-07-01', 'FIN01', 85000.00, 30),
(104, 'Emily', 'Davis', 'emily.davis@example.com', '456-789-0123', '2021-11-10', 'MKT01', 62000.00, 40),
(105, 'Michael', 'Wilson', 'michael.wilson@example.com', '567-890-1234', '2022-06-18', 'DEV02', 78000.00, 10),
(106, 'Olivia', 'Taylor', 'olivia.taylor@example.com', '678-901-2345', '2020-04-12', 'HR02', 71000.00, 20),
(107, 'William', 'Moore', 'william.moore@example.com', '789-012-3456', '2017-09-25', 'FIN02', 90000.00, 30),
(108, 'Sophia', 'Anderson', 'sophia.anderson@example.com', '890-123-4567', '2023-02-14', 'MKT02', 65000.00, 40),
(109, 'James', 'Thomas', 'james.thomas@example.com', '901-234-5678', '2016-12-05', 'IT01', 87000.00, 50),
(110, 'Isabella', 'Jackson', 'isabella.jackson@example.com', '012-345-6789', '2019-08-30', 'IT02', 82000.00, 50);

INSERT INTO Departments (department_id, department_name, location, manager_id)
VALUES
(10, 'Development', 'New York', 101),
(20, 'Human Resources', 'Chicago', 102),
(30, 'Finance', 'Boston', 103),
(40, 'Marketing', 'Los Angeles', 104),
(50, 'IT', 'San Francisco', 109),
(60, 'Support', 'Remote', NULL); -- No employees yet

-- Insert sample data into the Jobs table
INSERT INTO Jobs (job_id, job_title, min_salary, max_salary)
VALUES
    ('DEV01', 'Senior Developer', 70000.00, 100000.00),
    ('DEV02', 'Lead Developer', 90000.00, 130000.00),
    ('HR01', 'HR Manager', 60000.00, 90000.00),
    ('HR02', 'HR Specialist', 50000.00, 75000.00),
    ('FIN01', 'Financial Analyst', 75000.00, 110000.00),
    ('FIN02', 'Senior Accountant', 80000.00, 120000.00),
    ('MKT01', 'Marketing Specialist', 55000.00, 80000.00),
    ('MKT02', 'Marketing Manager', 65000.00, 95000.00),
    ('IT01', 'IT Manager', 85000.00, 125000.00),
    ('IT02', 'Network Engineer', 78000.00, 115000.00);

-- Insert sample data into Job_History
INSERT INTO Job_History (employee_id, start_date, end_date, job_id, department_id)
VALUES
    (101, '2020-01-15', '2021-12-31', 'DEV01', 10),
    (101, '2022-01-01', NULL, 'DEV02', 20),  -- Current job
    (102, '2019-03-22', NULL, 'HR01', 20),
    (103, '2018-07-01', '2023-06-30', 'FIN01', 30),
    (103, '2023-07-01', NULL, 'FIN02', 40),
    (104, '2021-11-10', NULL, 'MKT01', 40),
    (105, '2022-06-18', NULL, 'DEV02', 10),
    (106, '2020-04-12', NULL, 'HR02', 20),
    (107, '2017-09-25', NULL, 'FIN02', 30),
    (108, '2023-02-14', NULL, 'MKT02', 40),
    (109, '2016-12-05', NULL, 'IT01', 50),
    (110, '2019-08-30', NULL, 'IT02', 50);

In [0]:
%sql
select * from employees;

In [0]:
%sql
select * from departments;

In [0]:
%sql
select * from job_history;

In [0]:
%sql
select * from jobs;