In [0]:
#SQL (structured query language): data is stored in tables,it has rows and columns
#relational model : there will many tables which are related to each other.
#schema is fixed: structure of your table: is predefined. it has to be strictly followed.
#scalability: vertical scalability: add more servers, ram, storage.
#query language : sql
#example: mysql, postgressql, sql server, oracle.
#usecase: transactional databases. (bank,social media, ecommerce)

#nosql: It stored in other formats  like key:value pairs(json), graphs, documents.
#schema is dynamic: it doesnot have schema or it is flexible :schema evolution
#horizontal scalability: we scale using distributed architectures.
#mongodb : query language bson
#usecases: big data, analytics, AI, ML

In [0]:
#2 types of tables
#fact table : quantitative data (sales,financial data)
#dimension table: descriptive data or anything that defines our fact tables ( customer table, product table)

In [0]:
#SQL: relational database

#constraints:
#primary key (can be applied): it has to unique (no duplicates), it cannot be null values, it can be a combination of columns (composite key),it cannot have duplicates
#foriegn key(can be applied): its primary key in a foriegn table. It can any number of foriegn key, it can be null, it can have duplicates.
#unique key: it has to unique, we can have any number of unique key, it can have null values
#surrogate key: system generated value used as primary key in tables.
#natural key: given by the business.
#candidate key: is a column or set of columns in a table that will uniquely identify a row. primary key is one of the columns, must be not null and unique. we can have multiple candidate keys.
#not null (can be applied) : column must have value cannot be null
#composite key example : combination of orderid and productid will make them uniquely identifable.



#unique:

#SQL server: null = null  (true) only 1 null value

#postgres | mysql : null <> null : allow multiple null values



orderid | productid | quantity
1001    | a1        | 2
1001    | b2        | 3
1002    | a1        | 2

#customer table:
id(pk) | name | age| sex| phone(uk) | aadharcar (uk)
1 | kalyan | 16 | m | 12312313 | 1231231123
2 | ajay | 21 | m | 4564546465 |
3 | suresh | 25 | m | 789789789|
4 | priya | 22 | f | 123123123 |
5 | kavitha | 23 | f | 456456456 |
6 | krish   | 21 | m | 1231232123 | asdfa123132123

#address table
addressid(pk) |city| state| zipcode| country| email(UK) | customerid (foriegn key)
1 | bangalore | karnataka | 560011 | india | krish@gmail.com | 1
2 | chennai | tamilnadu | 600011 | india | ajay@gmail.com | 2
3 | hyderabad | telangana | 500011 | india | suresh@gmail.com | 3
4 | mumbai | maharashtra | 400011 | india | priya@gmail.com | 4

#order table
orderid | orderdate| orderitem| order amount| customerid(fk)|vendorid(fk)

1 | 2024-01-01 | laptop | 100000 | 1 | 1
2 | 2024-01-02 | mobile | 50000 | 2 | 2
3 | 2024-01-03 | tablet | 30000 | 3 | 2
4 | 2024-01-04 | headphones | 5000 | 4 | 1
5 | 2024-01-04 | headphones | 5000 | 4 |


#vendor table:
vendorid |vendorname
1 | fedex
2 | dhl
3 | professsional

In [0]:
-- Create the Employees table

CREATE TABLE Employees
 (
    employee_id INT PRIMARY KEY,
    first_name VARCHAR(255),
    last_name VARCHAR(255),
    email VARCHAR(255),
    phone_number VARCHAR(20),
    hire_date DATE,
    job_id VARCHAR(10),
    salary DECIMAL(10, 2),
    department_id INT
);


CREATE TABLE Departments (
    department_id INT PRIMARY KEY,
    department_name VARCHAR(100),
    location VARCHAR(100),
    manager_id INT
);


INSERT INTO Departments (department_id, department_name, location, manager_id)
VALUES
(10, 'Development', 'New York', 101),
(20, 'Human Resources', 'Chicago', 102),
(30, 'Finance', 'Boston', 103),
(40, 'Marketing', 'Los Angeles', 104),
(50, 'IT', 'San Francisco', 109),
(60, 'Support', 'Remote', NULL); -- No employees yet

In [0]:
INSERT INTO Employees (employee_id, first_name, last_name, email, phone_number, hire_date, job_id, salary, department_id)
VALUES
(101, 'John', 'Doe', 'john.doe@example.com', '123-456-7890', '2020-01-15', 'DEV01', 75000.00, 10),
(102, 'Jane', 'Smith', 'jane.smith@example.com', '234-567-8901', '2019-03-22', 'HR01', 68000.00, 20),
(103, 'Robert', 'Brown', 'robert.brown@example.com', '345-678-9012', '2018-07-01', 'FIN01', 85000.00, 30),
(104, 'Emily', 'Davis', 'emily.davis@example.com', '456-789-0123', '2021-11-10', 'MKT01', 62000.00, 40),
(105, 'Michael', 'Wilson', 'michael.wilson@example.com', '567-890-1234', '2022-06-18', 'DEV02', 78000.00, 10),
(106, 'Olivia', 'Taylor', 'olivia.taylor@example.com', '678-901-2345', '2020-04-12', 'HR02', 71000.00, 20),
(107, 'William', 'Moore', 'william.moore@example.com', '789-012-3456', '2017-09-25', 'FIN02', 90000.00, 30),
(108, 'Sophia', 'Anderson', 'sophia.anderson@example.com', '890-123-4567', '2023-02-14', 'MKT02', 65000.00, 40),
(109, 'James', 'Thomas', 'james.thomas@example.com', '901-234-5678', '2016-12-05', 'IT01', 87000.00, 50),
(110, 'Isabella', 'Jackson', 'isabella.jackson@example.com', '012-345-6789', '2019-08-30', 'IT02', 82000.00, 50);



CREATE TABLE Job_History (
    employee_id INT,
    start_date DATE,
    end_date DATE,
    job_id VARCHAR(10),
    department_id INT,
    PRIMARY KEY (employee_id, start_date), -- Composite primary key
    FOREIGN KEY (employee_id) REFERENCES Employees(employee_id),
    FOREIGN KEY (job_id) REFERENCES Jobs(job_id), -- Added FK for new table
    FOREIGN KEY (department_id) REFERENCES Departments(department_id)
);

-- Insert sample data into Job_History
INSERT INTO Job_History (employee_id, start_date, end_date, job_id, department_id)
VALUES
    (101, '2020-01-15', '2021-12-31', 'DEV01', 10),
    (101, '2022-01-01', NULL, 'DEV02', 20),  -- Current job
    (102, '2019-03-22', NULL, 'HR01', 20),
    (103, '2018-07-01', '2023-06-30', 'FIN01', 30),
    (103, '2023-07-01', NULL, 'FIN02', 40),
    (104, '2021-11-10', NULL, 'MKT01', 40),
    (105, '2022-06-18', NULL, 'DEV02', 10),
    (106, '2020-04-12', NULL, 'HR02', 20),
    (107, '2017-09-25', NULL, 'FIN02', 30),
    (108, '2023-02-14', NULL, 'MKT02', 40),
    (109, '2016-12-05', NULL, 'IT01', 50),
    (110, '2019-08-30', NULL, 'IT02', 50);



CREATE TABLE Jobs (
    job_id VARCHAR(10) PRIMARY KEY,
    job_title VARCHAR(255),
    min_salary DECIMAL(10, 2),
    max_salary DECIMAL(10, 2)
);

-- Insert sample data into the Jobs table
INSERT INTO Jobs (job_id, job_title, min_salary, max_salary)
VALUES
    ('DEV01', 'Senior Developer', 70000.00, 100000.00),
    ('DEV02', 'Lead Developer', 90000.00, 130000.00),
    ('HR01', 'HR Manager', 60000.00, 90000.00),
    ('HR02', 'HR Specialist', 50000.00, 75000.00),
    ('FIN01', 'Financial Analyst', 75000.00, 110000.00),
    ('FIN02', 'Senior Accountant', 80000.00, 120000.00),
    ('MKT01', 'Marketing Specialist', 55000.00, 80000.00),
    ('MKT02', 'Marketing Manager', 65000.00, 95000.00),
    ('IT01', 'IT Manager', 85000.00, 125000.00),
    ('IT02', 'Network Engineer', 78000.00, 115000.00);

In [0]:
#select all data from employee table.
select * from employees;

In [0]:
#Apply condition where salary is greater than 75000
select *  from employees
where salary > 75000;

In [0]:
#filter the data based on hiredate
select *  from employees
where hire_date > '2020-01-01'

In [0]:
#select specific columns
select first_name, last_name, salary  from employees;

In [0]:
#ascending order by default
select first_name, last_name, salary  from employees
order by salary;

In [0]:
#Descending order
select first_name, last_name, salary  from employees
order by salary DESC;

In [0]:
#filter based on 2 conditions.
select first_name, last_name, salary  from employees
where salary > 75000 and first_name = 'Michael' ;

In [0]:
#filter where atleast one condition is true.
select first_name, last_name, salary  from employees
where salary > 75000 or first_name = 'Michael' ;

In [0]:
#not operator will give you opposite of your where condition.
select first_name, last_name, salary  from employees
where not salary > 75000;

In [0]:
#gives me the count of rows in the table.
select count(*) from employees;

In [0]:
#total sum of all employee salary
select sum(salary) from employees;

In [0]:
#total avg of all employee salary

select avg(salary) from employees;

In [0]:
#like operator : give all employees whose name starts with M
select * from employees where first_name like 'M%'

In [0]:
# %n means anything before n and it should end with n
select * from employees where first_name like '%n'

In [0]:
#wildcards : %: 0 or more characters
select * from employees
where first_name like 'a%'

#wildcard : '_' respresents a single character
select * from employees where first_name like '____'

#wildcard : []

select * from employees where first_name like '[aeiou]%'

#postgres
SELECT * FROM employees
WHERE first_name SIMILAR TO '(J|K)%'

In [0]:
#in : multiple cities we need to filter for some specific cities.

select * from employees
where last_name in ('Doe','Smith','Davies')

In [0]:
#between

select * from employees
where department_id between 10 and 40

In [0]:
#alias

select first_name as fname, last_name as lname, salary as sal from employees

In [0]:
#joins: left join, right join, inner join, full outer join. (self join , cross join)

#inner join : matching elements between the 2 tables. for every match there is a new row created in the result.
#left join: matching element from the 2 tables + any remaining elements from the left table. Where ever there is no match it will be null
#right join: matching elements from the 2 tables + any remaining elemetns from the right table.Where ever there is no match it will be null
#full outer join: matching elements from the 2 table + remaining element from both the tables. Where ever there is no match it will be null


Tablea  |  Tableb
1           1
1           1
null        2
2           null
null        3
4           2

innerjoin: 1,1,1,1,2,2
left : 1,1,1,1,2,2, null, null, 4
right join: 1,1,1,1,2,2,3, null
full outer join: 1,1,1,1,2,2,3, null, null,null,4



tbl1     tabl2
id1       id2
1         2
1         5
2         1
2         6
3         null
5         null
null      null
7         8
null      1

1111225
1111225 null null 3 7
1111225 null null null 8 6



innerjoin: 1 1 1 1 2 2 5

leftjoin: 1 1 1 1 2 2 5 3 null 7 null

right join: 1 1 1 1 2 2 5 6 null null null 8

full outerjoin 1 1 1 1 2 2 5 3 null 7 null 6 null null null 8



employee    salary
id(pk) name id salary eid(fk)
1  a        1  1000   2
2  b        2  2000   4
3  c        3  3000   1
4  d        4  5000   null


innerjoin

id name salary
1  a   3000
2  b   1000
4  d   2000

left join

id name salary
1  a    3000
2  b    1000
3  c    null
4  d    2000


employee    salary
id(pk) name id salary eid(fk)
1  a        1  1000   2
2  b        2  2000   4
3  c        3  3000   1
4  d        4  5000   null

right join

id name salary
1  a    3000
2  b    1000
3  d    2000
4  null 5000

In [0]:
--all fname, lastname and departmentname

--c : fname, lastname, departmentname
--t :employee, departments
--a : none
--g : none

select e.first_name, e.last_name, d.department_name
from employees e
join departments d
on e.department_id = d.department_id;

In [0]:
--show all department names even if no employees

select e.first_name, d.department_name
from employees e
right join departments d on e.department_id= d.department_id;

In [0]:
--get employee name, departmentname and job titles for all employees

--c: e.firstname, e.lastname , d.departmentname , j.job_title
--t employees, department, jobs
--a : none
--g : none

select e.first_name, e.last_name, d.department_name, j.job_title
from employees e
join departments d on e.department_id = d.department_id
join jobs  j on e.job_id = j.job_id;

In [0]:

--c:columns employeename departmentname
--t: tables  employees and department
--a:aggregations  no aggregation
--g:grouping  no grouping

select columnames from table1 join table2 on primarykey = foriegnkey


select e.employee_name, d.department_name
from employees  e
inner join departments d on e.department_id = d.department_id;

In [0]:
-- can you give me average salary by departmetname and count of employees by department

--c: deparment_name, salary, employeeid
--t: departments , employe table
--a: avg(salary), count(employeeid)
--g: group departmentname

select d.department_name, avg(e.salary) as averagesalary, count(e.employee_id) as countofemployees
from departments d
INNER join employees e on d.department_id = e.department_id
group by d.department_name;

In [0]:
-- count of employees by each department
-- columns : departmentname , count of employees
-- tables: department and employees
-- aggregation: count(employeeid)
-- group by department

select d.department_name, count(e.employee_id) as countofemployees
from departments d
left join employees e on d.department_id = e.department_id
group by department_name;

In [0]:
--Average salary of employees by departmetname
--c: deparmtentname, avg(salary)
--t: employees, departments
--a : avg(salary)
--g : group by department


select d.department_name, avg(e.salary) as averagesalary
from departments d
join employees e on d.department_id=e.department_id
group by d.department_name;

In [0]:
--give me all employee with teh newest hiredate

-- columns : firstname, lastname hiredate
-- no joins
-- no aggregation
-- sort: desc
-- filters : no filter

select * from employees
where hire_date = (select max(hire_date) from employees)

In [0]:
--find all the  employees who work in the HR department  (departmentid = 20)

-- columns: first_name, last_name, job_id, departmentid
-- aggregations : no aggregations
-- no group by
--filters: departmentid =20


select first_name, last_name, job_id, department_id from employees
where department_id=20;

In [0]:
--employees who salary is higher than the average employee salary;
--c : firstname, lastname , salary
--t : employees
--a : avg(salary)
--g : no group by

select first_name, last_name,salary
from employees
where salary > (select avg(salary) from employees)

In [0]:
-- the name of the employee who was hired first in the company
--c : firstname, lastname, hire_date
--t : employees
--a : no
--g : no group by

select first_name, last_name, hire_date from employees
order by hire_date
limit 1;

In [0]:
-- show me the top 2 highest salary
--c : firstname, lastname, salary
--t : employees
--a : no
--g : no group by

select first_name, last_name, salary from employees
order by salary desc
limit 2;

In [0]:


-- all employees who are earning  greater than the average salary by each departments
--c : firstname, lastname, salary, department_name
--t : employees , departments
--a : avg(salary)
--g : group by department_name

with cte as (
select e.first_name, e.last_name, e.salary, d.department_name,
avg(e.salary) over (partition by e.department_id) as avgdeptsalary
from employees e
join departments d on e.department_id = d.department_id)

select * from cte
where e.salary > avgdeptsalary;



-- all employees who are earning  greater than the average salary by each departments
--c : firstname, lastname, salary, department_name
--t : employees , departments
--a : avg(salary)
--g : group by department_name

select e.first_name, e.last_name, e.salary, d.department_name,
avg(e.salary) as averagesalary from employees e
join departments d on e.department_id = d.department_id
group by e.first_name, e.last_name,e.salary, d.department_name
order by d.department_name

In [0]:
#employes who re earning greater than the manager

c: name, salary, name as managername, salary as managersalary
t: employee
a: no
g: no

select e.firstname, e.lastname,  e.salary as employeesalary, m.firstname as managername,m.salary as managersalary from
employees e
join employees m on e.managerid = m.employeeid
where e.salary>m.salary;

In [0]:
--find employees who have changed departments , showing their previous and current department
--c firstname,  lastname , department_name as previousdepartment , department_name as currentdepartment
--t employee , department, jobhistory
--a none
--g none
--conditions: jh1.enddate is not null
--condition2: jh2.enddate is null
-- condition3 : jh1.department <> jh2.department_id

select e.first_name, e.last_name, d1.department_name as previousdepartment, d2.department_name as currentdepartment
from employees e
join job_history jh1 on e.employee_id = jh1.employee_id
join departments d1 on jh1.department_id = d1.department_id
join job_history jh2 on jh2.employee_id = e.employee_id
join departments d2 on jh2.department_id = d2.department_id

where jh1.end_date is not null
and jh2.end_date is NULL
and jh1.department_id <> jh2.department_id;

In [0]:
--list employees who have worked in IT department and i need their job titles and start and end date
--c: e. firstname, e. lastname, d. departmentname, j. jobtitle, jh. startdate and jh. enddate
--t : employee, department, jobs, jobhistory
--a :none
--g : none
--con : department_name = IT

select e.first_name, e.last_name, d.department_name, j.Job_title, jh.start_date, jh.end_date
from employees e
join departments d on e.department_id = d.department_id
join job_history jh on e.employee_id =jh.employee_id
join jobs j on jh.job_id  =  j.job_id
where d.department_name = 'IT';

In [0]:
#Drop vs Truncate vs Delete

#drop: drop the table entire table, delete the entire table or database
#truncate: clear the entire table.
#delete: delete something specific based on a condition

In [0]:
#storedprocedure to update salary.

create PROCEDURE updateemployeesalary
@employee_id int,
@newsalary DECIMAL(10,2)

as BEGIN

update employees
set salary=@new_salary
where employee_id= in @employee_id

end;

exec updateemployeesalary
@employee_id = 101,
@newsalary = 80000.00;

In [0]:
create PROCEDURE updateemployeesalary
@employee_id nvarchar(max),
@newsalary DECIMAL(10,2)

as BEGIN

update employees
set salary=@new_salary
where employee_id= in (select value string_split(@employee_id,','));

end;

exec updateemployeesalary
@employee_id = '101,102,103,105'
@newsalary = 80000.00;

In [0]:
#stored procedures:
#group of sql statements in single unit
#its mainly used for fster execution
#it prevents cyber attacks
#it can be executed multiple times without rewriting


#define a new stored procedure namaed addnewemployee with parameters matching the columns in the table.

CREATE PROCEDURE addnewemployee
    @first_name VARCHAR(255),
    @last_name VARCHAR(255),
    @email VARCHAR(255),
    @phone_number VARCHAR(255),
    @hire_date DATE,
    @job_id VARCHAR(255),
    @salary DECIMAL(10,2),
    @department_id INT
AS
BEGIN

#if the email does not exist the procedure will insert a new row intot he employees table with the detial provided. employeeid is autoincrement

        -- Insert the new employee
        INSERT INTO employees (first_name, last_name, email, phone_number, hire_date, job_id, salary, department_id)
        VALUES (@first_name, @last_name, @email, @phone_number, @hire_date, @job_id, @salary, @department_id);

END;


Exec addnewemployee
@first_name = 'john',
@last_name = 'doe',
@email = 'john.doe@example,
@phone_number = '123-456-7890',
@hire_date = '2020-01-15',
@job_id = 'DEV01',
@salary = 75000.00,
@department_id = 10;

In [0]:
#optimisation technqiues in sql:

#1) indexing: indexing is used to retrieve data quickly from most frequently used columns ( it can be bad if we over indexing)
#2) use select (columns names) instead of useing select * (select name, age from employees)
#3) use proper joins: try using inner joins where possible instead of left join or right join.
#Use where clause to limit the amount of data.
#4) query execution plan (abstract syntax tree) : analyse your execution plan to understand how the query is processed. explain or analyse command.
#5) use paritionsing or sharding : divide large tables into smaller tables to process efficiently. (range partition or hash paritioning)
#hash paritioning : partitionnumber: 122%10 =2
#6) try using cte -does not  store data or query.
#7) try using materialized views for large tab1les that are used in recomputation.



#Partitioning
create table orders(
  orderid int,
  customerid int,
  orderdate date)

  partition by range(year(orderdate))(
    partition p2022 values less than(2023),
    partition p2023 values less than(2024),
    partition pmax values less than MAXVALUE);

select * from orders
where year(orderdate) = 2023;

In [0]:


#indexing: optimisation techique : customerid, customername, customerage

#B-Tree indexing : it is a self balancing tree data structure.
#Hash indexing : it uses hash function to store data.

3 | john | 25
4 | jane | 30
5 | mike | 35
6 | anna | 40
7 | david | 45

#Index Seek: which is used to scan the table very fast to find the locaiton as the btree has already mapped the locaiton of data.

#clustered vs non clustered indexing

#clustered : primary key
#changes the physical order of the index

#clustered : it can only have one clustered index - primary key.
#it alters the physical order in the table to match the order of the index.

#how?
#sorts the table rows by that column
#stores them in that order on the disk.
#it is using btree but the leaf nodes contain the data




#non clustered : creates a seperate structure that referes to the table data.
#you can have multiple non clusetred indexes
#it does not change the physical order but creates a table to point to the actual data.


#how?
#it contains pointers to the actual data but stored somewhere else.
#it will not change the physical order of the table
#it is also using btree but the leaf nodes contains pointers (row locators)


studentid  address
5          1
6          2
1          3
2
4
9
8
3
10


#B-Tree or a hash strucutre

#btree - the data is stored hierarchichally fast lookups - the database checks for index to locate rows sthat match the search criteria but it without doing full table scan.


create table employees(
    employeeid int primary key,
    firstname varchar(50),
    lastname varchar(50),
    salary int
)

create index idx_salary on employees(salary);

select * from employees where salary > 50000;

#multiple column indexing

create index idx_firstname_lastname on employees(firstname, lastname);

select * from employees where firstname = 'john' and lastname = 'doe';



virtual table : financedata

create view financedata as select * from employees where department= 'Finance'

select * from financedata
where name like '%krish'


Mateiralised view: data is stored in the disk.


#view: virtual table that stores only the query
#materialised view: virtual tables tht stores the query and the results of hte query

create view ITemployees as select e.first_name, e.last_name, d.department_name
from employees e
join departments d
on e.department_id = d.department_id
where d.department_name = 'IT'


#materialised views should be refreshed:

#manual refresh: refresh materialised view indian customers
#scheduled refresh: cron jobs: 0 0 * * * (daily midnight)
#fast refresh: refresh only the changed data . it will monitor the logs.


#Cron expression	Schedule
* * * * *	Every minute
0 * * * *	Every hour
0 0 * * *	Every day at 12:00 AM
0 0 * * FRI	At 12:00 AM, only on Friday
0 0 1 * *	At 12:00 AM, on day 1 of the month


#refresh.sql
refresh materialized view indiancustomers;

shell script : pgpassword='mypassword' psql- localhost -U postgres -d mydatabase -f refresh.sql

crontab -e

0 0 * * * /path/to/refresh.sql >> /path/to/log/file

#five stars for cron expression
*(min 0-59) *(0-23) *(1-31) *(month 1-12) * - day of week (0-6, sun=0)



#Window Functions: aggregated functions that perform aggregration at row level eg: count, avg, sum, rank, dense_rank, rownumber, lag , lead

#rank vs Dense_rank vs rownumber

#rank : will skip a rank when it finds same values
#denserank : will not skip a rank when it finds same values
#rownumber: will assign unique row number to each value


id | name | salary |dept |  rank | denserank | rownumber
1 | a | 500000 |IT |1  |1  |1
2 | b | 500000 | IT|1 | 1 |2
3 | c | 400000 | IT|3 | 2 |3

4 | d | 100000 |HR |1 | 1 |1
5 | e | 100000 |HR |1 | 1 |2
6 | e | 90000 |HR |3| 2 |3

6 | f | 30000 |cs |1 | 1 |1
7 | g | 20000 |cs |2 | 2 |2
8 | h | 20000 |cs |2 | 2 |3

9 | i | 6000 |fin |9 | 5 |1


Example
id | salary | rank | denserank | rownumber
1  | 50000  | 1    |   1    |  1
2  | 49000  | 2    |   2    |  2
3  | 45000  | 3    |   3    |  3
4  | 45000  | 3    |   3    |  4
5  | 20000  | 5    |   4    |  5

In [0]:
#CRUD: create ,read, update and delete.

# oltp:(snowflake) online tranasaction processing : primary used in databases for day to day transactions (mysql, postgres sql)
# it primary contains transaction data
# data is highly normalised to reduce redundancy
# used for frequent insert, update and delete. (day to day transactions)



#olap :(star) online analytical processing: datawarehouses(redshift or snowflake): this data is less normalised
#read data faster
#helps building analystics faster
#datawarehouses are mostly olap
#used for tranformed and aggregated data.


#central fact table: orders table

fact: orders:
orderid | customerid | ordedate| productid | quantity | price | orderstatus|categoryid



Dimension:customers
customerid | customername | country | firstname | lastname | email | phonenumber


Dimension: product table
productid | productname | categoryname | price
1 | pen | stationary  | 10
2 | rubber | stationary | 5
3| pencil | stationary | 15

productid | productname | categoryid | price
1 | pen | 1  | 10
2 | rubber | 1 | 5
3| pencil | 1 | 15

dimension: category
categoryid | categoryname
1 | school

In [0]:

fact: orders:
orderid | customerid | ordedate| productid | quantity | price | orderstatus|categoryid



Dimension:customers
customerid | customername | country | firstname | lastname |customercontactdetailsid

customercontactdetails:
customercontactdetailsid | email | phonenumber


Dimension: product table
productid |productname |  price| categoryid
1 | pen |  10 | 2
2 | rubber | 5 | 2
3| pencil |  15 | 2
4 | phone| 200|1

category
categoryid | categoryname
1 | communication
2 | stationary
3 | food

productid | productname | categoryid | price
1 | pen | 1  | 10
2 | rubber | 1 | 5
3| pencil | 1 | 15

dimension: category
categoryid | categoryname
1 | school

In [0]:
#Order of Execution
#order of execution:
select e.first_name, e.last_name, d.department_name, j.Job_title, jh.start_date, jh.end_date
from employees e
join departments d on e.department_id = d.department_id
join job_history jh on e.employee_id =jh.employee_id
join jobs j on jh.job_id  =  j.job_id
where d.department_name = 'IT';


# from : decide which tables we are extracting data from.
# join: we also need to include the other tables that we are using to join
# on : what are we joining on
# where: apply filters
# groupby
# having: group the data
# select: pick the columns
# distinct: remove duplicates
# order by: sort the data
# limit: limit the rows to be seen.


#from japan once  wise girl selected dol

In [0]:
#CTE's  (common table expression): it is an optimised way of writing sql code which holds the entire code and executes it and the
#output is in the virtual table. it does not save the data and it does not save the code as well. it only lasts for the
#execution time of the code.

#advantages: it is easy to read and manage the code and its an optimised way of writing the code.

#employees making salary greater than 70k


with greaterthan70 as (
  select employee_id,first_name, last_name, salary from employees
where salary > 70000)

select * from greaterthan70
where first_name like 'A%' or last_name like 'A%'
order by salary desc
limit 1;

In [0]:
--total salary by department

--columns : departmentid, salary, sum(salary) as total salary
--group by:   departmentid
--conditions: no conditions

with cte as (
  select department_id, sum(salary) as total_salary
  from employees
  group by department_id)

 select * from cte
 where total_salary >80000;

In [0]:
--average salary by department

--columns : departmentid, salary, avg(salary) as total salary
--group by:   departmentid
--conditions: no conditions

with cte as (
  select first_name, last_name, department_id, avg(salary) as average_salary
  from employees
  group by department_id)

 select * from cte
 where salary > averagesalary;

In [0]:
#window functions: are aggregation functions in sql. it is mainly used for aggregation of our data in sql

#examples: rank, denserank, rownumber, lag , lead.

In [0]:
-- rank employees by salary and filter by second highest salary
-- columns : employeeid, firstname,, lastname , salary
-- windofunction : denserank
-- order by salary desc



with cte as (
  select employee_id,  first_name, last_name, salary
  DENSE_RANK() over ( order by salary desc) as rankings
  from employees)

select * from cte
where rankings =2;

In [0]:
#top5 sales by customer

with customersales as (select customerid, customername,sum(salesamount) as totalsales,
                       dense_rank() over (partition by customerid order by sum(salesamount) desc) as ranking from sales
                      )
select * from customersales
where ranking <=5;

In [0]:
select empid, empname, salary from employees
order by salary desc
limit 1 offset 1

In [0]:
-- rank employees by salary and filter by second highest salary by department
-- columns : employeeid, firstname,, lastname , salary
--partition by : departmentid
-- windofunction : denserank
-- order by salary desc

with cte as (
  select department_id,  employee_id,  first_name, last_name, salary,
  DENSE_RANK() over (PARTITION by department_id order by salary desc) as rankings
  from employees)

select * from cte
where rankings =2;

In [0]:
-- find employees who have been hired after a certain date
-- cols: employeeid, firstname, lastname, hiredate
-- group by : no
-- filters: where hiredate > '2022-01-01'

with cte as (
  select employee_id, first_name, last_name, hire_date, salary
  from employees
  where hire_date > '2020-01-01')

 select *  from cte
 where salary > 100000;

In [0]:
--lead : next row from your current row.
--  get teh salary of each employee along with the salary of the next employee
-- columns: employeeid, firstname, lastname, salarydemo
-- functions : lead(salary)
--order by salary or hiredate
-- no conditions

select employee_id, first_name, last_name, salary, lead(salary) over (order by hire_date) as nextemployeesalary
from employees;


lead:

id name hiredate salary nextempsalary prevsalary
1 a  01012025   1000    2000  null
2 b  10012025   2000    4000  1000
4 d  02012025   4000    6000  2000
3 c  06012025   6000    null  4000

lag:

id name hiredate salary prevempsalary
1 a  01012025   1000    null
4 d  02012025   4000    1000
3 c  06012025   6000    4000
2 b  10012025   2000    6000

In [0]:
--compare salary with previoius employee in same department
--c :employeeid, firstname, salary,lag(salary) over (partition by department_id order by salary) as previoussalary
--t employees
--a no
--g no

select employee_id, first_name, salary, lag(salary) over (partition by department_id order by salary) as previoussalary
from employees
where department_id = 10;

In [0]:
#sales table : can  you extract customers previous transactionn amount

custoemrid | salesdate| salesamount

select customerid,saledate, amount, lag(amount) over (partition by customerid order by saledate) as previousamount
from sales;

In [0]:
select customerid,saledate, amount, amount - lag(amount) over (partition by customerid order by saledate) as differenceissales
from sales;

In [0]:
#calculate days between transactions
select customerid, saledate, lag(saledate) over (parition by customerid order by saleddate) as previousdate,
datediff(day,lag(saledate) over (parition by customerid order by salesdate ), saledate) as daysbetweentransaction
from sales;

In [0]:
--show me salary increment by employees
-- create a table to execute the code for this.

with cte  as (select employee_id , first_name, salary, lead(salary) over (partition by  eemployee_id order by hire_date) as incrementedsalary
              from employees)
select employee_id, salary, incrementedsalary, round(((incrementedsalary - salary)/salary)*100,2) as percentageincrease
from cte

employeeid, name, salary, hiredate,incrementedsalary, percentageincrease
1 , a, 1000, 01012025, 2000, (2000-1000)/1000)*100,2
1, a, 2000, 01032025,null

2 , b, 2000, 02012025, null

3 , c, 3000, 03012025, 6000
3, c, 6000, 01042025,null

4 , d, 4000, 04012025,null






CREATE TABLE employees (
    employee_id INT,
    first_name VARCHAR(50),
    salary DECIMAL(10,2),
    hire_date DATE
);


INSERT INTO employees (employee_id, first_name, salary, hire_date)
VALUES
(101, 'Alice', 50000, '2020-01-15'),
(101, 'Alice', 55000, '2021-01-15'),
(101, 'Alice', 60000, '2022-01-15'),

(102, 'Bob', 45000, '2019-03-10'),
(102, 'Bob', 47000, '2020-03-10'),
(102, 'Bob', 52000, '2021-03-10'),

(103, 'Charlie', 60000, '2021-06-20'),
(103, 'Charlie', 63000, '2022-06-20'),

(104, 'David', 70000, '2020-09-01');  -- only one record, no increment

In [0]:
#ipl team: write a code in such a wya that each team only plays with each other only once.

#only one table: teams : self join


# RCB vs MI
# MI vs GT
# GT vs csk
# CSK vs kkr
# KKR vsRR
# RR vs RCB
CREATE TABLE teams (
    team_id INT,
    team_name VARCHAR(50)
);

INSERT INTO teams VALUES
(1, 'CSK'),
(2, 'MI'),
(3, 'RCB'),
(4, 'KKR');


SELECT
    t1.team_name AS team1,
    t2.team_name AS team2
FROM teams t1
JOIN teams t2
    ON t1.team_id < t2.team_id
ORDER BY t1.team_name, t2.team_name;

In [0]:
--compare salary with next employee in same department
--c :employeeid, firstname, salary,lag(salary) over (partition by department_id order by salary) as previoussalary
--t employees
--a no
--g no

select employee_id, first_name, salary, lead(salary) over (partition by department_id order by salary) as nextsalary
from employees
where department_id = 10;

In [0]:
--find the salary growth comparedto previous employee
--c: employeeid, firstanme , salary, salary - lag(salary) over (partition by department_id order by hire_date) as salary_growth
--t : employee
--a: none
--g : none

select employee_id, first_name, salary, salary - lag(salary) over (partition by department_id order by hire_date) as salary_growth
from employees
where  department_id = 10;

In [0]:
--give me both previous and next employee salary

select employee_id, first_name, salary, lag(salary) over(order by hire_date) as prevsalary,
lead(salary) over (order by hire_date) as next_salary
from employees;

In [0]:
-- we have a log table with employeeid, logintime and logouttime. find the employee
-- who has been logged in the highest amout of time and also count of sessions as some employes can logout and log backin
-- columns: employeeid, logintime and logouttime
-- count(*) as sessioncount
-- sum(timestampdiff(second, logintime, logouttime)) as total_logged_in_seconds
-- group by: employeeid

select employeeid, count(*) as sessioncount,
sum(timestampdiff(second,logintime, logouttime)) as totaltimeseconds
from logtable
group by employeeid
order by totaltimeseconds desc
limit 1;

CREATE TABLE logtable (
    logid SERIAL PRIMARY KEY,
    employeeid INT,
    logintime TIMESTAMP,
    logouttime TIMESTAMP
);


INSERT INTO logtable (employeeid, logintime, logouttime) VALUES
(101, '2025-09-01 09:00:00', '2025-09-01 11:00:00'),  -- 2 hrs
(101, '2025-09-02 10:00:00', '2025-09-02 13:30:00'),  -- 3.5 hrs
(101, '2025-09-03 09:15:00', '2025-09-03 12:15:00'),  -- 3 hrs

(102, '2025-09-01 08:45:00', '2025-09-01 09:45:00'),  -- 1 hr
(102, '2025-09-02 09:00:00', '2025-09-02 10:30:00'),  -- 1.5 hrs
(102, '2025-09-03 10:00:00', '2025-09-03 11:00:00'),  -- 1 hr

(103, '2025-09-01 09:30:00', '2025-09-01 14:30:00'),  -- 5 hrs
(103, '2025-09-02 09:00:00', '2025-09-02 12:00:00');  -- 3 hrs

In [0]:
-- get department and their manager name

 select d.department_id as deptid,
 d.department_name as deptname,
 m.employee_id as manager_id,
 m.first_name as managername
 from departments d
 left join employees m  on d.manager_id = m.employee_id

In [0]:
#self join
Employee table
empid, empname, managerid

CREATE TABLE employee (
    empid INT PRIMARY KEY,
    empname VARCHAR(100) NOT NULL,
    managerid INT,
    FOREIGN KEY (managerid) REFERENCES employee(empid)
);

INSERT INTO employee (empid, empname, managerid) VALUES
(1, 'Ravi Kumar', NULL),
(2, 'Sneha Sharma', 1),
(3, 'Arjun Mehta', 1),
(4, 'Divya Reddy', 2),
(5, 'Kiran Rao', 2),
(6, 'Manoj Bhat', 3);



#get all the employee name and the their respective managers

select e.empname as employeename,
m.empname as managername
from employee e
join employee m on e.managerid = m.empid;

In [0]:
--show employee and managername and deparment name

select e.first_name as employee_name,
d.department_name, m.first_name as managername
from employees e
join departments d on e.department_id = d.department_id
join employees m on d.manager_id=m.employee_id;

In [0]:
--LEAD Function: Get the next orders product for each customer

--columns: orderid,customerid,prodcutname
--parition by customerid
--order by: orderdate

SELECT order_id, customer_id, product_name,
       (product_name) OVER (PARTITION BY customer_id ORDER BY order_date) AS next_product
FROM Orders;

In [0]:
--add bonus based on role

select first_name, job_id, salary,
case when
job_id ='DEV01' then salary * 0.1
when job_id='HR01' then salary * 0.15
else 0
end as bonus
from employees;

In [0]:
--categorize employees based on salary  (case statement)

CREATE TABLE employees (
    empid INT PRIMARY KEY,
    first_name VARCHAR(100) NOT NULL,
    last_name VARCHAR(100),
    department VARCHAR(50),
    salary DECIMAL(10,2)
);

INSERT INTO employees (empid, first_name, last_name, department, salary) VALUES
(1, 'Ravi', 'Kumar', 'IT', 90000.00),
(2, 'Sneha', 'Sharma', 'HR', 75000.00),
(3, 'Arjun', 'Mehta', 'Finance', 62000.00),
(4, 'Divya', 'Reddy', 'Marketing', 85000.00),
(5, 'Kiran', 'Rao', 'IT', 58000.00),
(6, 'Manoj', 'Bhat', 'Operations', 95000.00);

select first_name, salary,
case
when salary >= 85000 then 'high'
when salary between 63000 and 84000 then 'medium'
else 'low'
end as salarycategory
from employees;

In [0]:
#duplicates:

select email, count(*)
from employees
group by email
having count(*) > 1;

krish@gmail.com 3
krish@gmail.com 3
krish@gmail.com 3

krish@hotmail.com 1

krish@ymail.com 1

#way 2

select * from employees where email in (
  select email from employees group by email having count(*) > 1)

In [0]:
select distinct email from employees;

In [0]:
-- find duplicates in a table
-- group by or partition by : firstname, lastname, email
-- order by employeeid

with cte as (
  select employee_id, first_name, last_name, email,
  row_number() over (PARTITION by first_name, last_name, email ORDER by employee_id) as rownumber
  from employees)

  select * from cte
  where rownumber = 1;


empid | firstname | lastname | email

1 | krish | bhargav|krish@gmail.com | 1
2 | krish | bhargav|krish@gmail.com | 2
3 | krish | bhargav|krish@gmail.com | 3

4 | adveer | bhargav|adveer@gmail.com| 1
5 | adveer | bhargav|adveer@gmail.com| 2
6 | adveer | bhargav|adveer@gmail.com| 3



with cte as (
  select employee_id, first_name, last_name, email,
  row_number() over (PARTITION by first_name, last_name, email ORDER by employee_id) as rownumber
  from employees)

delete from employee
where id in (select id from cte where rownumber >1);

employeeid | firstname | lastname | email

1 | krish | bhargav|krish@gmail.com | 1
2 | krish | bhargav|krish@gmail.com | 2
3 | krish | bhargav|krish@gmail.com | 3

5 | adveer | bhargav|adveer@gmail.com| 1
6 | adveer | bhargav|adveer@gmail.com|2
7 | adveer | bhargav|adveer@gmail.com| 3

8 | araia| bhargav|araia@gmail.com|1

9 | ajay | bhargav|ajay@gmail.com| 1
10 | ajay | bhargav|ajay@gmail.com|2
4 | ajay  | bhargav|ajay@gmail.com|3

In [0]:

#star vs snowflake: are used in designing dimensional data models mainly for reporting and analytics


#Star: fact table and dimension table.
#Fact table: anything quantitative , sales data, revenue, quantity sold
#dimension: anything describes the transaction : customer, product,  category.
#the diagram of tables looks like a star, it will have a central fact table surrounded by dimension tables.
#it is mainy used in olap: online analytical processing. the data is less normalised.
#mainly used in datawarehousing because we need to retrive the data quickly, so it is faster to retrieve data in olap.

'''
sales table (fact)

customerid | productiud| saleprice| saledate
1             2           100     01/01/25

customer (dim)

customerid | customername| phonenumber | email |address

producttable: (dim)

productid | productname | categoryid | price

category (dim)
categoryid | cateoryname | subcategory

'''
#snowflake schema:
#is a complex version of star schema
#It is more normalised compared to star
#the strucutre looks like snowflake.
#it still a central fact table for quantitative data  surronded by many dimensional and subminensional data.
#it is mainly used OLTP models (day to day database)

#features:
#its is more complex to design and maintain.
#it is slower compared to star schema

#benefits of snowflake :
#it is really well oranised and less reduntant
#easy to maintain integrity



snowflake:
fact table: salesfact
date | porudctid| customerid|  saleamount| quantity
01012024| 1001     |   5       |   1500      |20
05012024| 1002    |   7       |   2000      | 40


dimnesion table:
product dimension table:

productkey | productname | categoryname |subcategory | price
1001        | touchpad    | futuretech | future technology  | 5000
1002        | smartphone | technology | phones      | 10000


productkey | productname | price | categoryid
1001        | touchpad    |5000 | 2001
1002        | smartphone |  10000 |2002

category dimension
categoryid | categoryname | subcategory
2001       | electronics | computer
2002       | futuretech | phones

customer dimension:

pre normalisation:
customerid | customername | country
2001        | john |        India
2002        | jane      |   UK
2003       | john |        India
2004        | jane      |   UK
2005        | john |        India
2006        | jane      |   UK
2007        | john |        India
2008        | jane      |   UK
2009        | john |        India
20010        | jane      |   UK


customerid | customername | countryid
2001        | john |        1001
2002        | jane      |   1002
2003       | john |        1001
2004        | jane      |   1002
2005        | john |        1001
2006        | jane      |   1002
2007        | john |        1001
2008        | jane      |   1002
2009        | john |        1001
20010        | jane      |   1002


countrydimension
countryid | countryname
1001       | bharat
1002       | usa



-----------------------------------------------------------

#normalisation: is a process of breaking a large single table to small independent tables and build relationships between those tables.


#Type of normalisation

#pre normalisation : 1nf
StudentID	| StudentName | 	Courses| 	Instructor
101	        Alice	       Math, Science | Dr. John, Dr. Ray
102	        Bob	        English, History |Dr. Lisa, Dr. Paul

#1nf ( normal form): removes duplicate colums and makes sure each column has atomic values.the data needs to be atomic: each row should only have single piece of information

1|101 | alice | math | Dr krish
2|101 | alice |science | dr.Ray
3|102 | Bob   |english | Dr lisa
4|102 | bob   | history | dr paul
5| 103 | abc   | math | dr john

#2nf (2nd normal form): it needs to satisfy 1nf and makes sure that all non key columns are fully dependent on  the primary key (removes partial dependencies)

Student Table
StudentID(pk) | studentName
101  | Alice
102 | bob

course table
coursedid |coursename |instructorid | studentid (fk)
1 | math | 1 | 101
2 | science|  2 | 101
3 | english| 1 | 102
4 | history| 4 | 102

intructor table
1 dr krish 1
2 ray 2
3 lisa 3
4 paul
5 ajay 4


#3nf ( 3rd normal form): removes columsn that are not directly related to the primary key. or indeirectly dependent on the primary key. Transitive dependency

#A >B and B >C then A>C  is a transitive dependency it is not allowed in 3nf

Student Table
StudentID | studentName
101  | Alice
102 | bob

Enrollments table
enrollmentid | studentid | courseid
1 | 101  |
2 | 101  | 2
3 | 102  | 3
4 | 102  | 4

course table
coursedid |coursename |instructorid
1 | math | 5
2 | science| 2
3 | english| 3
4 | history| 4

instructor table
instructorid | instructor name
1| dr john
2| dr ray
3| dr lisa
4| dr paul
5| dr james



#data modelling: organizing dat in specific format: creating a blueprint or design structure.

#conceptual data model:
#why: present high level data strucutre without focusin on how the data will be implemented.
#example student entity : studentid ,name,age related to course entity.
#the early stage of database design.


#logical datamodel:
#a more detailed version of coceptual logic behind the data and its relationships.
#structure of relationships.


#physical data modell: define the actual stoage of data in a database, tablename, columns, data types, indexing and performance optimisation.
#the coceptual model gets implemented.


'''

In [0]:

#star vs snowflake: are used in designing dimensional data models mainly for reporting and analytics


#Star: fact table and dimension table.
#Fact table: anything quantitative , sales data, revenue, quantity sold
#dimension: anything describes the transaction : customer, product,  category.
#the diagram of tables looks like a star, it will have a central fact table surrounded by dimension tables.
#it is mainy used in olap: online analytical processing. the data is less normalised.
#mainly used in datawarehousing because we need to retrive the data quickly, so it is faster to retrieve data in olap.

'''
sales table (fact)

customerid | productiud| saleprice| saledate
1             2           100     01/01/25

customer (dim)

customerid | customername| phonenumber | email |address

producttable: (dim)

productid | productname | categoryid | price

category (dim)
categoryid | cateoryname | subcategory

'''
#snowflake schema:
#is a complex version of star schema
#It is more normalised compared to star
#the strucutre looks like snowflake.
#it still a central fact table for quantitative data  surronded by many dimensional and subminensional data.
#it is mainly used OLTP models (day to day database)

#features:
#its is more complex to design and maintain.
#it is slower compared to star schema

#benefits of snowflake :
#it is really well oranised and less reduntant
#easy to maintain integrity



snowflake:
fact table: salesfact
date | porudctid| customerid|  saleamount| quantity
01012024| 1001     |   5       |   1500      |20
05012024| 1002    |   7       |   2000      | 40


dimnesion table:
product dimension table:

productkey | productname | categoryname |subcategory | price
1001        | touchpad    | futuretech | future technology  | 5000
1002        | smartphone | technology | phones      | 10000


productkey | productname | price | categoryid
1001        | touchpad    |5000 | 2001
1002        | smartphone |  10000 |2002

category dimension
categoryid | categoryname | subcategory
2001       | electronics | computer
2002       | futuretech | phones

customer dimension:

pre normalisation:
customerid | customername | country
2001        | john |        India
2002        | jane      |   UK
2003       | john |        India
2004        | jane      |   UK
2005        | john |        India
2006        | jane      |   UK
2007        | john |        India
2008        | jane      |   UK
2009        | john |        India
20010        | jane      |   UK


customerid | customername | countryid
2001        | john |        1001
2002        | jane      |   1002
2003       | john |        1001
2004        | jane      |   1002
2005        | john |        1001
2006        | jane      |   1002
2007        | john |        1001
2008        | jane      |   1002
2009        | john |        1001
20010        | jane      |   1002


countrydimension
countryid | countryname
1001       | bharat
1002       | usa



-----------------------------------------------------------

#normalisation: is a process of breaking a large single table to small independent tables and build relationships between those tables.


#Type of normalisation

#pre normalisation : 1nf
StudentID	| StudentName | 	Courses| 	Instructor
101	        Alice	       Math, Science | Dr. John, Dr. Ray
102	        Bob	        English, History |Dr. Lisa, Dr. Paul

#1nf ( normal form): removes duplicate colums and makes sure each column has atomic values.the data needs to be atomic: each row should only have single piece of information

1|101 | alice | math | dr john
2|101 | alice |science | dr.Ray
3|102 | Bob   |english | Dr lisa
4|102 | bob   | history | dr paul
5| 103 | abc   | math | dr john

#2nf (2nd normal form): it needs to satisfy 1nf and makes sure that all non key columns are fully dependent on  the primary key (removes partial dependencies)

Student Table
StudentID(pk) | studentName
101  | Alice
102 | bob

course table
coursedid |coursename |instructorid | studentid (fk)
1 | math | 1 | 101
2 | science|  2 | 101
3 | english| 3 | 102
4 | history| 4 | 102

intructor table
1 dr krish 1
2 ray 2
3 lisa 3
4 paul
5 ajay 4


#3nf ( 3rd normal form): removes columsn that are not directly related to the primary key. or indeirectly dependent on the primary key. Transitive dependency

#A >B and B >C then A>C  is a transitive dependency it is not allowed in 3nf

Student Table
StudentID | studentName
101  | Alice
102 | bob

Enrollments table
enrollmentid | studentid | courseid
1 | 101  |
2 | 101  | 2
3 | 102  | 3
4 | 102  | 4

course table
coursedid |coursename |instructorid
1 | math | 5
2 | science| 2
3 | english| 3
4 | history| 4

instructor table
instructorid | instructor name
1| dr john
2| dr ray
3| dr lisa
4| dr paul
5| dr james



#data modelling: organizing dat in specific format: creating a blueprint or design structure.

#conceptual data model:
#why: present high level data strucutre without focusin on how the data will be implemented.
#example student entity : studentid ,name,age related to course entity.
#the early stage of database design.


#logical datamodel:
#a more detailed version of coceptual logic behind the data and its relationships.
#structure of relationships.


#physical data modell: define the actual stoage of data in a database, tablename, columns, data types, indexing and performance optimisation.
#the coceptual model gets implemented.


'''

In [0]:
#always order masala dosa with butter >> order 10

In [0]:
#show all emoployees from a department given.

create procedure showemployeesbydepartment(in detname varchar(255))
begin
select * from employees where department = detname;
end;

call showemployeesbydepartment('HR');

In [0]:
#create sp to insert a new employee to the table.

create procedure addemployee(

    in empid int,
    in empname varchar(255),
    in dept varchar(255),
    in salary int
)
begin
insert into employees (id, name, department, salary)
values (empid, empname, dept, salary);
end;

call addemployee(10, 'john', 'IT', 50000);

In [0]:
#complex joins, CTE, Indexing, normalisation, OLTP, OLAP, Star vs snowflake schema, dimension vs fact, optimisation techniques, window functions,
#where vs having , views, materialised views , order of execution, case statements.

In [0]:
#second highest salary using cte (dense_rank) | manager and their employees | highest performing product | a list of ipl teams and make sure each team plays a match with each other team and
#nobody should repeat.

In [0]:
CREATE TABLE ipl_teams (
    team_id INT PRIMARY KEY,
    team_name VARCHAR(100)
);

INSERT INTO ipl_teams (team_id, team_name)
VALUES
(1, 'CSK'),
(2, 'RCB'),
(3, 'MI'),
(4, 'KKR');

In [0]:
select t1.team_name as teama,
t2.team_name as teamb
from ipl_teams t1
join ipl_teams t2
on t1.team_id < t2.team_id;

In [0]:
1 1k 1 1 1
2 2k 2 2 2
3 2k 3 2 2
4 3k 4 4 3
5 4k 5 5 4



with cte as (
    select epid,empname, sal, dense_rank() over (order by salary desc) as rank
    from employee
)

select * from cte where rank =2;

In [0]:
select e.empid,e.empname, m.empname as managername
from employee e
left join employee m
where e.managerid = m.empid;

In [0]:
#cross join and cartesian product

colors

1 red
2 blue
3 green

sizes

1 small
2 large

select c.colourname,s.sizename
from colors c
cross join sizes s;

red small
red large
blue small
blue large
green small
green large

In [0]:
union vs union all

#union: will remove duplicates
select country from customers
union
select country from suppliers

#unionall: will not remove duplicates
select country from customers
union all
select country from suppliers